/*
 * FILE BODY
 */

body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkNavy);

  p {
    font-family: "Lexend Deca", sans-serif;
    color: var(--dimGrey);
  }
}
