/*
 * FILE DESIGN SYSTEM
 */

/*
 * Colors:
 */
:root {
  --lightYellow: #fff4df;
  --yellow: #fcb72b;
  --darkNavy: #495567;
  --dimGrey: #939caa;
  --lightGrey: #e5ecf4;
  --snow: #f2f5f9;
  --white: #ffffff;
}

/*
 * Typography:
 */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// font-family: "Space Mono", monospace;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// font-family: "Lexend Deca", sans-serif;

/*
 * Button:
 */
.button-yellow {
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  color: var(--snow);
  text-decoration: none;
  border: 2px solid var(--yellow);
  transition: 0.2s;
}

.button-yellow:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--yellow);
}

/*
 * Circle:
 */
// .gray-circle {}
