/*
 * FILE BODY
 */

body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: "Lexend Deca", sans-serif;
  }

  main {
    img {
      width: 100px;
      height: auto;
    }
  }
}
