/*
 * FILE DESIGN SYSTEM
 */

/*
 * Colors:
 */
:root {
  --lightYellow: #fff4df;
  --yellow: #fcb72b;
  --darkNavy: #495567;
  --dimGrey: #939caa;
  --lightGrey: #e5ecf4;
  --snow: #f2f5f9;
}

/*
 * Typography:
 */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// font-family: "Space Mono", monospace;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// font-family: "Lexend Deca", sans-serif;

/*
 * Button:
 */
.button-yellow {
}

.button-yellow:hover {
}
