/*
 * FILE HEADER
 */

header {
  background-color: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 0.8s;

  .nav-bar-header-frame {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-bar-header {
      display: flex;
      align-items: center;

      .menu {
        margin: auto 50px;

        a {
          color: var(--dimGrey);
          margin: auto 20px;
          text-decoration: none;
        }

        a:hover {
          color: var(--yellow);
        }
      }
    }
  }
}
