/*
 * FILE FOOTER
 */

footer {
  width: 100%;
  background-color: var(--darkNavy);
  background-image: url("../../IMG/footer-circle-background.png");
  background-repeat: no-repeat;
  background-position-x: right;

  .footer-up {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 450px;
      color: var(--white);
      font-size: 48px;
      line-height: 48px;
    }

    .store {
      width: 360px;
      display: flex;
      justify-content: space-between;
    }
  }

  .footer-down {
    position: absolute;
    background-color: #343a44;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-bar-footer {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav {
        display: flex;
        align-items: center;

        .menu {
          margin: auto 50px;

          a {
            color: var(--dimGrey);
            margin: auto 20px;
            text-decoration: none;
          }

          a:hover {
            color: var(--yellow);
          }
        }
      }

      .social-media-container {
        width: 120px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
