/*
 * FILE FOOTER
 */

footer {
  background-color: var(--dimGrey);
  width: 100%;

  .footer-up {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      line-height: 48px;
      font-size: 48px;
      color: white;
    }

    .store {
    }
  }
}

.footer-down {
  background-color: var(--darkNavy);
  width: 100%;

  .nav-bar-footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: var(--dimGrey);
      text-decoration: none;
    }

    .social-media-container {
    }
  }
}
