/*
 * FILE FOOTER
 */

footer {
  background-color: var(--dimGrey);
  display: flex;
  flex-direction: column;
  width: 80%;

  h2 {
    line-height: 48px;
    font-size: 48px;
    color: white;
  }
  .store {
    align-self: flex-end;
  }
}

.nav-bar-footer {
  background-color: var(--darkNavy);
  display: flex;
  justify-content: space-between;
  a {
    color: var(--dimGrey);
    text-decoration: none;
  }

  .social-media-container {
  }
}
