/* 
 * FILE MAIN INDEX
 */

main {
  .hero-index {
    position: relative;
    margin-top: 96.6px;

    img {
      z-index: -1;
      width: 100%;
      height: 650px;
      object-fit: cover;
    }

    h1 {
      position: absolute;
      left: 10%;
      top: 22%;
      color: var(--white);
      font-size: 56px;
      line-height: 56px;
    }

    p {
      position: absolute;
      left: 16%;
      top: calc(22% + 25%);
      width: fit-content;
      color: var(--white);
      line-height: 25px;
      font-size: 15px;
    }

    a {
      position: absolute;
      top: calc(22% + 25% + 22%);
      left: 16%;
    }
  }

  .services-container {
    width: 80%;
    height: 290px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;

    span.gray-line {
      z-index: -1;
      position: absolute;
      left: -12.5%;
      top: 15%;
      width: 80%;
      height: 16px;
      background-color: var(--lightGrey);
    }

    .service-app {
      width: 350px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .card-easy-to-use {
    width: 100%;
    position: relative;

    .card-left {
      width: 80%;
      margin: 100px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      div:nth-child(1) {
        width: 40%;
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          margin-bottom: 10px;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
        }

        p {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
      }

      div:nth-child(2) {
        width: fit-content;

        img {
          width: 445px;
          height: 445px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .gray-circle {
      transform: translateX(-10%) scale(1.2);
      position: absolute;
      top: 0;
      right: 0;
    }

    .yellow-arrow {
      position: absolute;
      right: 0;
      transform: scale(7) translateX(-43%);
      bottom: 10%;
    }
  }

  .card-coming-to-a-city {
    width: 100%;
    position: relative;

    .card-right {
      width: 80%;
      margin: 100px auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;

      div:nth-child(1) {
        width: 40%;
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          margin-bottom: 10px;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
        }

        p {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
      }

      div:nth-child(2) {
        width: fit-content;

        img {
          width: 445px;
          height: 445px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .gray-circle {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.2) rotate(180deg);
    }

    .yellow-arrow {
      position: absolute;
      left: 0;
      top: 5%;
      transform: scale(3.5) translateX(20%);
    }
  }

  .card-zero-hassle {
    width: 100%;
    position: relative;

    .card-left {
      width: 80%;
      margin: 100px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      div:nth-child(1) {
        width: 40%;
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          margin-bottom: 10px;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
        }

        p {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
      }

      div:nth-child(2) {
        width: fit-content;

        img {
          width: 445px;
          height: 445px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .gray-circle {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-10%) scale(1.2);
    }

    .yellow-arrow {
      position: absolute;
      right: 0;
      top: 20%;
      transform: scaleX(-1) scale(3.5) translateX(36%);
    }
  }
}
