/* 
 * FILE RESPONSIVE DESIGN MAIN LOCATIONS
 */

// Desktop:
@media screen and (max-width: 1280px) {
  main {
    .container-locations {
      div {
        div {
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        h2,
        p {
          width: 85%;
          text-align: center;
        }

        p {
          margin: 20px auto;
        }
      }
    }
  }
}

// Tablet:
@media screen and (max-width: 768px) {
  main {
    br {
      display: none;
    }

    .container-locations {
      width: 90%;
    }
  }
}

// Mobile:
@media screen and (max-width: 375px) {
}
