/* 
 * FILE MAIN ABOUT
 */

main {
  .hero-about {
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      z-index: -1;
    }
    h1 {
      font-size: 56px;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      color: white;
    }
  }

  .card-mobility-for-the-digital {
    width: 100%;
    position: relative;

    .card-left {
      width: 80%;
      margin: 100px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      div:nth-child(1) {
        width: 40%;
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          margin-bottom: 10px;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
        }

        p {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
      }

      div:nth-child(2) {
        width: fit-content;

        img {
          width: 445px;
          height: 445px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .gray-circle {
      transform: translateX(-10%) scale(1.2);
      position: absolute;
      top: 0;
      right: 0;
    }

    .yellow-arrow {
      position: absolute;
      right: 0;
      transform: scale(7) translateX(-43%) scaleX(-1) rotate(180deg);
      bottom: 20%;
    }
  }

  .card-coming-to-a-city {
    width: 100%;
    position: relative;

    .card-right {
      width: 80%;
      margin: 100px auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;

      div:nth-child(1) {
        width: 40%;
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          margin-bottom: 10px;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
        }

        p {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
      }

      div:nth-child(2) {
        width: fit-content;

        img {
          width: 445px;
          height: 445px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .gray-circle {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.2) rotate(180deg);
    }

    .yellow-arrow {
      position: absolute;
      left: 0;
      top: 5%;
      transform: scale(3.5) translateX(20%);
    }
  }

  .container-our-values {
    width: 80%;
    height: 610px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 80%;
    gap: 5%;

    h2 {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      text-align: center;
      font-size: 48px;
    }

    .card-our-tech {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5%;

      div:nth-child(1) {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        img:nth-child(1) {
          width: 240px;
          height: 240px;
          border-radius: 50%;
          object-fit: cover;
        }

        img:nth-child(2) {
          position: absolute;
          bottom: 0;
        }
      }

      div:nth-child(2) {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          text-align: center;
          font-size: 24px;
        }

        p {
          text-align: center;
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }

  .container-faqs {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
      font-size: 48px;
      text-align: center;
    }

    .container-questions {
      display: flex;
      gap: 30px;

      h3 {
        width: 30%;
        font-size: 40px;
      }

      .container-answers {
        width: 70%;
      }

      .card-answers {
        background-color: var(--lightGrey);
        width: 100%;

        .card-frame-answer {
          padding: 35px;
          margin-bottom: 30px;

          div {
            h4 {
              display: flex;
              justify-content: space-between;
              font-size: 24px;

              img {
                width: 32px;
                height: 16px;
                rotate: 90deg;
              }
            }
          }

          p {
            display: none;
            margin-top: 35px;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }

      .card-answers:hover {
        background-color: var(--lightYellow);
      }
    }
  }
}
