/* 
 * FILE MAIN ABOUT
 */

main {
  .hero-about {
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: 30% 100%;
      z-index: -1;
      filter: brightness(50%);
    }

    h1 {
      position: absolute;
      color: var(--white);
      font-size: 56px;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .card-mobility-for-the-digital {
  }
  .card-better-urban-living {
  }
  .container-our-values {
  }
  .card-our-integrity {
  }
  .card-our-community {
  }
  .container-faqs {
  }
  .container-questions {
  }
  .container-answers {
  }
  .card-answers {
  }
}
