/* 
 * FILE MAIN INDEX
 */

main {
  .hero-scooter {
    position: relative;
    img {
      width: 100%;
      height: 650px;
      object-fit: cover;
      z-index: -1;
      filter: brightness(50%);
    }
    h2 {
      font-size: 56px;
      line-height: 56px;
      z-index: 1;
      position: absolute;
      top: 249px;
      left: 165px;
      color: white;
    }
    p {
    }
  }
  .services-container {
  }

  .service-app {
  }

  .service-pick {
  }

  .service-ride {
  }

  .card-easy-to-use {
  }

  .card-coming-to-a-city {
  }

  .card-zero-hassle-payments {
  }
}
