/* 
 * FILE MAIN CAREERS
 */

main {
  .hero-careers {
    position: relative;
    img {
      width: 100%;
      height: 650px;
      object-fit: cover;
      z-index: -1;
    }
    h1 {
      font-size: 156px;
      line-height: 156px;
      z-index: 1;
      position: absolute;
      top: 250px;
      left: 120px;
      color: white;
    }
  }
  .card-our-mission {
  }
  .container-our-values {
  }
  .card-our-tech {
  }
  .card-our-integrity {
  }
  .card-our-community {
  }
  .container-jobs {
  }
  .card-jobs {
  }
}
